.carousel .slick-track .item-wrapper {
  padding: 20px !important;
}
.carousel .item-card {
  width: 359px;
  min-height: 350px;
  padding: 40px 24px;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.1);
  margin-right: 26px;
  transition: all 0.3s;
}

.item-card h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  color: #686060;
  margin-bottom: 16px;
}

.item-card p {
  color: #686060;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

.item-card svg {
  margin-bottom: 24px;
}

.item-card svg rect {
  transition: fill 0.3s;
}

.item-card svg circle {
  transition: fill 0.3s;
}

.item-card:hover svg rect {
  fill: transparent;
}

.item-card:hover svg circle {
  fill: transparent;
}

.carousel .item-card:hover {
  border-radius: 8.595px;
  border: 1px solid transparent;
  background: #0c44ac;
  box-shadow: 0px 4.297398090362549px 24px 0px rgba(0, 0, 0, 0.4);
}

.carousel .item-card:hover h4,
.carousel .item-card:hover p {
  color: white;
}

.carousel .slick-dots {
  bottom: -80px;
}

.carousel .slick-dots li,
.carousel .slick-dots li button {
  width: 64px;
  height: 30px;
}

.carousel .slick-dots li button::before {
  content: '';
  width: 64px;
  height: 6px;
  background: #7295d6;
  top: 12px;
  transition: background 0.3s;
  opacity: 1;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  background: #e63946;
}

.carousel .slick-dots li.slick-active button::before {
  background: #e63946;
  opacity: 1;
}

@media (max-width: 1400px) {
  .carousel .item-card {
    width: 320px;
    min-height: 375px;
  }
}

@media (max-width: 1400px) {
  .carousel .item-card {
    width: 290px;
    min-height: 400px;
  }
}
