@media (min-width: 1400px){
	#home{
		background: url(./../img/home.png) no-repeat ;
		background-size: 100%  86%;
		min-height: 100vh;
	}
}
@media (min-width: 1200px){
	#home{
		background: url(./../img/home.png) no-repeat ;
		background-size: 100%  90%;
		min-height: 100vh;
	}
}

@media (max-width: 600px){

	/* Home */
	.grid-header {
		margin-top: 5vh;
	}
	.text-header > p:first-child {
		font-size: 24px;
	}
	.text-header h2 {
		font-size: 32px;
	}
	.text-header > p {
		font-size: 20px;
		width: 440px;
	}	
	.grid-header img{
		width: 110%;
	}
	
	/* Proposal */
	
	#proposal {
		padding-block: 80px;
	}

	#proposal h2 {
		font-size: 25px;
		margin: auto;
		width: 350px;
		height: 132px;
		margin-bottom: 42px;
	}

	/* feedback */

	#feedback h2{
		width: auto;
		font-size: 24px;
		font-weight: 600;
		line-height: 36px;
	}

}