:root {
    --primary-color: #19C37D;
    --text-color: #363636;
    /* font-family: 'Inter', sans-serif; */
}
body{
    font-family: 'Poppins', sans-serif;
}
/* header*/

#home{
    background: url(./../img/home.png) no-repeat;
    min-height: 100vh;
}
.navbar.transparent {
    background-color: transparent !important;
    box-shadow: none !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar button {
    margin-right: 40px;
}
.navbar a {
    color: #fff;
    font-size: 24px;
}
#home button {
    background-color: #fff;
    color: #E63946;
    font-size: 16px;
    font-family: Inter;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding: 8px;
    padding-inline: 20px;
}
.grid-header{
    margin-top: 25vh;
}
.text-header{
    width: 560px;
    height: 358.94px;
    gap: 36px;
    color: #fff;
}
.text-header h2{
    font-size: 43px;
}
.text-header > p{
    font-size: 20px;
    width: 400px;
}
.text-header > p:first-child{
    font-size: 34px;
}

/* frame-status */
#frame-status{
    height: 149px;
    background-color: #0c44ac;
    color: #fff;
}
#frame-status p {
    font-size: 50px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 24px;
}
#frame-status h5 {
    font-size: 16px;
}

/* proposal */

#proposal {
    margin-top: 154px;
    margin-bottom: 120px;
}
.grid-proposal {
    width: 1000px;
}
#proposal h2 {
    font-family: Poppins;
    font-size: 36px;
    text-align: center;
    margin-bottom: 60px;
}

.card-proposal {
    width: 300px;
    height: 200px;
    background: #fff;
    border: 1px solid #0c44ac;
    border-radius: 2%;
    padding: 8px;
}









/* footer */

#footer {
    background: #E63946;
    height: 421px;
    margin-top: 80px;
}