:root {
  --primary-color: #19c37d;
  --text-color: #363636;
  /* font-family: 'Inter', sans-serif; */
}
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
.btnred {
  background-color: #e63946;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px;
  padding-inline: 20px;
}
p {
  font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Poppins', sans-serif;
}

.scroll nav { 
  background-color: #ca3341 !important;
}

.btn-info button {
  border-radius: 4px;
  border-color: transparent;
}

/* header*/
header > .container {
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
}
#navigation {
  position: absolute;
  top: 0;
  width: 100%;
  height: 91px;
  z-index: 100;
} 

#navigation ul {
  display: flex;
  gap: 24px;
}

#navigation ul li a {
  color: #f6f5f5;
  font-size: 18px;
  font-weight: 500;
}
#navigation ul li a:hover {
  transform: scale(1.15);
}
.navbar.transparent {
  background-color: transparent;
  box-shadow: none !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navigation .navbar button {
  margin-right: 40px;
  background-color: #fff;
  color: #e63946;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px;
  padding-inline: 20px;
}
#navigation .navbar button:hover {
  color: #fff;
  background-color: transparent;
  transform: scale(1.1);
  border: 1px solid #fff;
}

#home {
  background: url(./../img/home.png) no-repeat;
  min-height: 100vh;
  padding-top: 91px;
  display: flex;
}

#home button {
  background-color: #fff;
  color: #e63946;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px;
  padding-inline: 20px;
  margin-top: 20px;
}

#home button:hover {
color: #fff;
background-color: transparent;
transform: scale(1.1);
border: 1px solid #fff;
}

.grid-header {
  height: auto;
  display: flex;
  align-items: center;
}
.text-header {
  width: 650px;
  gap: 36px;
  color: #fff;
  margin-bottom: 140px;
}
.text-header h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 12px;
  line-height: normal;
}
.text-header > p {
  font-size: 20px;
  width: 435px;
}

.text-header > p:first-child {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 24px;
  line-height: 20px;
}

.img-home {
  position: absolute;
  bottom: 0;
  right: 0;
  height: calc(100% + 91px);
}

.img-home-mobile {
  display: none;
}

/* Animação do cursor na home */

#container {
  display: flex;
}

#textoDigitado {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

#cursor {
  animation: blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
      visibility: visible;
  }
  50% {
      visibility: hidden;
  }
}

#proposal{
  margin-bottom: 160px;
}

/* graficos animados */
#graphics {
  margin-bottom: 97px;
}
.graphics {
  width: 1126px;
  margin-inline: auto;
}

.graphics .grid_text{
  width: 754px;
  margin-inline: auto;
  margin-bottom: 72px;
  font-family: 'Poppins', sans-serif;
  color: #686060;
}

.graphics h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
}

.graphics p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  width: 534px;
  margin-inline: auto;
}

.grid_graphics{
  width: 1126px;
  margin-inline: auto;
}
.grid_graphics .grid_a{
  width: 482px;
  height: 275px;
}

.grid_graphics .grid_b{
  width: 482px;
  height: 380px;
  margin-left: 162px;
  margin-top: 52.5px;
}

/* barra progressiva */

#graphics .grid_graphics p{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #686060;
}

.progress {
  height: 24px;
  background-color: #fff;
  position: relative;
  margin-bottom: 40px;
  border-radius: 12px;
  border: 1px solid #0C44AC;
}

#graphics .progress p {
  color: #0C44AC;
  padding-left: 448.7px;
  font-size: 12px;
  font-weight: 500px;
  margin-top: 3px;
}

.progress .progress-bar {
  position: absolute;
  height: 100%;
  background-color: #0C44AC;
  border-radius: 12px;
  animation-play-state: paused; /* Inicia a animação em pausa */
}

.progress .pb1 {
  animation: progress-animationpb1 5s forwards;
}
.progress .pb2 {
  animation: progress-animationpb2 5s forwards;
}
.progress .pb3 {
  animation: progress-animationpb3 5s forwards;
}
.progress .pb4 {
  animation: progress-animationpb4 5s forwards;
}
.progress .pb5 {
  animation: progress-animationpb5 5s forwards;
}
.progress .pb6 {
  animation: progress-animationpb6 5s forwards;
}
.progress .pb7 {
  animation: progress-animationpb7 5s forwards;
}

@keyframes progress-animationpb1 {
  0% {
    width: 0%;
  }
  100% {
    width: 88%;
  }
}
@keyframes progress-animationpb2 {
  0% {
    width: 0%;
  }
  100% {
    width: 82%;
  }
}
@keyframes progress-animationpb3 {
  0% {
    width: 0%;
  }
  100% {
    width: 79%;
  }
}
@keyframes progress-animationpb4 {
  0% {
    width: 0%;
  }
  100% {
    width: 92%;
  }
}
@keyframes progress-animationpb5 {
  0% {
    width: 0%;
  }
  100% {
    width: 89%;
  }
}
@keyframes progress-animationpb6 {
  0% {
    width: 0%;
  }
  100% {
    width: 93%;
  }
}
@keyframes progress-animationpb7 {
  0% {
    width: 0%;
  }
  100% {
    width: 89%;
  }
}

/* #frame  */

#frame1 h3,
#frame2 h3 {
  font-size: 36px;
  color: #686060;
}

#frame1 p,
#frame2 p {
  font-size: 18px;
  font-weight: 400;
}

/* frame-status */
#frame-status {
  height: 149px;
  background-color: #0c44ac;
  color: #fff;
}
#frame-status p {
  font-size: 50px;
  padding: 0;
  margin-bottom: 0;
  font-weight: 500;
}
#frame-status h5 {
  font-size: 16px;
}

/* proposal */

#proposal {
  padding-block: 154px 120px;
}

#proposal h2 {
  color: #686060;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  margin: 0 120px 80px 120px;
}

/* partners */

#partners h2 {
  color: rgba(126, 126, 126, 1);
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
}

/* About */
#about {
  padding-top: 104px;
  margin-bottom: 144px;
}
#about .about{
  width: 511px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #686060;
}
#about .about h2{
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
}

/* feedback */

#feedback {
  margin-top: 80px;
}
#feedback h2 {
  margin-bottom: 84px;
  color: rgba(104, 96, 96, 1);
}

/* Contact us */

#contact {
  padding-top: 180px;
  margin-bottom: 120px;
}

.team_contact {
  background-image: url(./../img/bg.png);
  width: 1124px;
  height: 393px;
  color: #fff;
}
.text_team_contact {
  margin-left: 510px;
  margin-top: 113px;
}

.text_team_contact h3 {
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
}
.text_team_contact {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.text_team_contact button {
  margin-top: 40px;
  border-radius: 4px;
  border-color: transparent;
}
.text_team_contact button img {
  margin-top: -4px;
  margin-right: 4px;
}
.text_team_contact button:hover {
  color: #fff;
  background-color: transparent;
  transform: scale(1.1);
  border: 1px solid #fff;
}

/* footer */

footer {
  background: #e63946;
  height: 435px;
  margin-top: 80px;
  color: #fff;
}
#footer {
  padding-top: 96px;
}
footer h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
#footer #navbar_footer li:hover {
  transform: scale(1.1);
}

#navbar_footer {
  margin-left: 30px;
}

#navbar_footer li {
  margin-bottom: 16px;
}

#navbar_footer a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

#rede_social {
  margin-left: 65px;
}
#rede_social a {
  text-decoration: none;
}
.contact p {
  margin-bottom: 20px;
}
footer .contact .email {
  margin-top: 3px;
}

/* Codes Devs */

.codesdevs{
  box-sizing: border-box;
  border-top: 1px solid #FFFFFF;
  width: 1129px;
  margin: auto;
  margin-top: 70px;
}
.codesdevs a {
  text-decoration: none;
  color: #fff;
}

/* botão de whatsapp */
.whatsapp-button {
  position: fixed;
  bottom: 5px; /* Ajuste a posição vertical conforme necessário */
  right: 80px; /* Ajuste a posição horizontal conforme necessário */
  z-index: 9999; /* Garante que o botão esteja acima de outros elementos */
}

.whatsapp-button img {
  width: 60px; /* Tamanho da imagem do botão */
  height: auto;
  border: none;
}

#backToTopButton {
  position: fixed;
  bottom: -26px;
  right: 26px;
}


#backToTopButton {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 26px;
}


/* Estilização do video */

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  z-index: -1;
}

.video-container video {
  object-fit: cover; /* O vídeo cobre toda a área do contêiner */
  width: 100%;
  height: 95%;
  margin-top: 6%;
}
#pservic{
  padding-top: 120px;
}
.grid-pservic-text{
  padding: 0 80px 0 80px;
  width: 60%;
  z-index: 1;
  margin-left: 40%;
}